<div class="bg">
   

   
  <main class="container">
    <h1 class="titulo">O que sera que acontece em AOT? 	<mat-icon>report_problem</mat-icon></h1>`
    
    
    <p class="historia">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam mollis ipsum tortor, sit amet gravida magna iaculis sit amet. Suspendisse ut aliquet diam. Cras eget neque nisl. Sed pretium porta ipsum in rutrum. Nunc gravida augue a velit dictum feugiat. Duis eleifend mauris ac dolor pulvinar venenatis. Cras quis turpis neque. Suspendisse potenti. In condimentum erat sed convallis tristique. Pellentesque non ante volutpat, aliquam orci ut, bibendum augue. Morbi laoreet urna augue, ac semper ante sagittis et. Duis tempor aliquam rutrum.
    </p>
    
    <img class="muralhas" src="../../../assets/muralhas.jpg">


    
    
    
  </main>
    
    
</div>