
<div class="bg">


<img class="titulo" src="../../../assets/aot_title.png">

<main class="container">
    <img alt="aot_home" src="../../../assets/aot_home.jpg">



    <div class="sobre">
        <h1>Sobre</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vel bibendum turpis. Sed quis purus mauris. Aliquam erat volutpat. Vivamus malesuada egestas porta. Praesent vitae lacinia lacus. Integer id venenatis tortor. Fusce tincidunt accumsan ante, nec vestibulum enim pretium eu. Curabitur pharetra diam eget massa ultrices semper. Suspendisse dictum metus at metus aliquam tincidunt in et metus. Donec tincidunt lectus mauris, sed consequat turpis mattis eget. Sed semper dolor erat, at sagittis felis fermentum quis.

            Sed in turpis ex. Duis vestibulum dictum dignissim. Proin ac est rhoncus, feugiat metus nec, luctus velit. Nulla facilisi. Cras porttitor vel sapien id imperdiet. Proin vitae nisl id leo dictum sollicitudin ut in mi. Mauris ornare turpis at tellus consectetur auctor in in nulla. Phasellus varius quam nec orci lacinia scelerisque. Vestibulum lacus nisl, hendrerit et mi non, cursus pellentesque neque. Aliquam aliquet, massa eget gravida mollis, odio velit placerat turpis, quis finibus augue lacus sed lacus. Vivamus suscipit tellus consequat dui pharetra, sed consequat augue malesuada. Etiam et ipsum ante. Curabitur ut lectus sit amet dui faucibus aliquet nec a nibh.</p>
    </div>
</main>
</div>
