<div class="bg">
    <main class="container">
        <div class="content" fxLayout="row" fxLayoutGap="25px">  
            <mat-card class="card">
                <mat-card-header>
                <div mat-card-avatar class="header-image-eren"></div>
                <mat-card-title>Titã de Ataque</mat-card-title>
                <mat-card-subtitle>Eren Yeager</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="../../../assets/eren_titan.jpg" alt="Photo of a Shiba Inu">
                <mat-card-content>  
                <p>
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                    bred for hunting.
                </p>
                </mat-card-content>
            </mat-card>

            <mat-card class="card">
                <mat-card-header>
                <div mat-card-avatar class="header-image-blindado"></div>
                <mat-card-title>Titã Blindado</mat-card-title>
                <mat-card-subtitle>Reiner Braun</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="../../../assets/titan_blindado.jpg" alt="Photo of a Shiba Inu">
                <mat-card-content>
                <p>
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                    bred for hunting.
                </p>
                </mat-card-content>
        
            </mat-card>

            <mat-card class="card">
                <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>Titã Colossal</mat-card-title>
                <mat-card-subtitle>Berthold</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="../../../assets/titan-colossal.png" alt="Photo of a Shiba Inu">
                <mat-card-content>
                <p>
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                    bred for hunting.
                </p>
                </mat-card-content>
        
            </mat-card>

      

      
    
        </div>

        <div class="content" fxLayout="row" fxLayoutGap="25px">  
            <mat-card class="card">
                <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>Titã Femea</mat-card-title>
                <mat-card-subtitle>Annie Leonhart</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="../../../assets/titan-femea.jpg" alt="Photo of a Shiba Inu">
                <mat-card-content>  
                <p>
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                    bred for hunting.
                </p>
                </mat-card-content>
        
            </mat-card>

            <mat-card class="card">
                <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>Titã Bestial</mat-card-title>
                <mat-card-subtitle>Zeke Yeager</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="../../../assets/titan-bestial.jpg" alt="Photo of a Shiba Inu">
                <mat-card-content>
                <p>
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                    bred for hunting.
                </p>
                </mat-card-content>
        
            </mat-card>

            <mat-card class="card">
                <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>Titã Carroça</mat-card-title>
                <mat-card-subtitle>Pieck</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="../../../assets/titan-carroca.jpeg" alt="Photo of a Shiba Inu">
                <mat-card-content>
                <p>
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                    bred for hunting.
                </p>
                </mat-card-content>
        
            </mat-card>       
        </div>

        <div class="content" fxLayout="row" fxLayoutGap="25px">  
            <mat-card class="card">
                <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>Titã Mandibula</mat-card-title>
                <mat-card-subtitle>Pock</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="../../../assets/titan-mandibula.jpg" alt="Photo of a Shiba Inu">
                <mat-card-content>  
                <p>
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                    bred for hunting.
                </p>
                </mat-card-content>
        
            </mat-card>

            <mat-card class="card">
                <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>Titã Martelo de Guerra</mat-card-title>
                <mat-card-subtitle>Lara Tybur</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="../../../assets/titan-martelo.png" alt="Photo of a Shiba Inu">
                <mat-card-content>
                <p>
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                    bred for hunting.
                </p>
                </mat-card-content>
        
            </mat-card>

            <mat-card class="card">
                <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>Titã Fundador</mat-card-title>
                <mat-card-subtitle>Eren Yeager</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="../../../assets/eren_titan.jpg" alt="Photo of a Shiba Inu">
                <mat-card-content>
                <p>
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                    bred for hunting.
                </p>
                </mat-card-content>
        
            </mat-card>       
        </div>
    </main>
</div>

