@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.container{
    width: 1320px; 
    margin-left: auto;
    margin-right: auto; 
    padding-bottom: 40px;
}

mat-icon{
    vertical-align: middle;
}