<div class="bg">
    <div class="container">

        <carousel [interval]="myInterval" [(activeSlide)]="activeSlideIndex" >
            <slide *ngFor="let slide of slides; let index=index">
              <img [src]="slide.image" alt="image slide" style="display: block; width: 100%;">
           
              <div class="carousel-caption">
                <h4>Season {{index + 1}}</h4>
                <p>{{slide.text}}</p>
              </div>
            </slide>
          </carousel>
        




    <!-- <carousel>
        <slide>
          <img src="../../../assets/aot-s1.jpg" alt="first slide" style="display: block; width: 100%;">
          <div class="carousel-caption d-none d-md-block">
            <h3>Season 1</h3>
            <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
          </div>
        </slide>
        <slide>
          <img src="../../../assets/aot-s2.jpg" alt="second slide" style="display: block; width: 100%;">
          <div class="carousel-caption d-none d-md-block">
            <h3>Season 2</h3>
            <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
          </div>
        </slide>
        <slide>
          <img src="../../../assets/aot-s3.jpg" alt="third slide" style="display: block; width: 100%;">
          <div class="carousel-caption d-none d-md-block">
            <h3>Season 3</h3>
            <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
          </div>
        </slide>
        <slide>
            <img src="../../../assets/aot-4.jpg" alt="third slide" style="display: block; width: 100%;">
            <div class="carousel-caption d-none d-md-block">
                <h3>Season 4</h3>
                <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
              </div>
          </slide>
      </carousel> -->
    </div>
</div>